<div class="row">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">
               <div class="row">
                 <div class="col-md-12 mb-4">
                    <h4 class="text-primary">Availability</h4>
                 </div>
                   <div class="col-md-6">
                           <div class="form-group">
                             <label>From Date</label>
                             <input type="text" class="form-control user-form-control" bsDatepicker placeholder="From Date">
                           </div>
                   </div> 
                   <div class="col-md-6">
                      <div class="form-group">
                        <label>To Date</label>
                        <input type="text" class="form-control user-form-control" bsDatepicker placeholder="To Date">
                      </div>
              </div> 
              <div class="col-md-12">
                <button class="btn btn-primary">Submit</button>
              </div>
               </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
          <div class="row">
              <div class="col-md-12">
                    <div class="form-group">
                           <label for="">Select Room</label>
                           <select name="" id="" class="form-control user-form-control">
                             <option value="">Select Room</option>
                             <option value="">302</option>
                             <option value="">392</option>
                             <option value="">303</option>
                             <option value="">322</option>
                           </select>
                    </div>
                  <div class="form-group">
                         <label for="">Select Room Type</label>
                         <select name="" id="" class="form-control user-form-control">
                           <option value="">Select Room Type</option>
                           <option value="">Deluxe Room</option>
                           <option value="">Single Room</option>
                           <option value="">Family Room</option>
                         </select>
                  </div>
                  <div class="form-group">
                    <label for="">Select Mode</label>
                    <select name="" class="form-control" id="">
                      <option value="">Select Mode</option>
                       <option value="">Booking</option>
                       <option value="">Block</option>
                       <option value="">Reservation</option>
                    </select>
                  </div>
                  <button class="btn btn-primary">Submit</button>
            </div>
            </div>
      </div>
    </div>
  </div>
</div>